@{
    ViewData["Title"] = "About us";
}
<div class="background" style="border-style:solid; border-color:white;color:white; margin: 60px; background-color:azure; border-radius:10px;">
    <p style="padding:40px; font-family: serif; font-size: x-large;">
        At ARACHOSIA GRILL, We strive to bring you fresh, made-to-order dishes infused with Afghan authenticity, and prepared with carefully handpicked quality ingredients from food suppliers we trust. After all, happy taste buds make for a happy body and soul, even more so when they’re ignited by healthy, feel-good food.

        When life gives us lemons, we don’t just make lemonade - we make awesome salads, a yummy garlic mint sauce, a freshly blended hummus, a mouthwatering chicken marinade, and well, almost every other item on our menu too!

        We believe in honest harvest and genuine flavors. We use the best natural ingredients available to us because we want to serve you delicious, wholesome food, the traditional way, from custom blending spices to hand preparing vegetables.

        We know that what you eat defines you, and we like to define ourselves as Afghan gourmets with a strong appetite for life but without leaving a hole in your pockets.

        In case you are still wondering what is Arachosia and how it is pronounced:

        Arachosia was an ancient name of the current city Kandahar located in southern Afghanistan. Arachosia is pronounced as ARA-KHO-ZIA.

        Sign up to receive our Special promotions and coupons.
    </p>
    </div>