@{
    ViewData["Title"] = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top: 40px; border-radius: 10px;" class="container">
    @{
        ViewData["Title"] = "Arachosia - Afghan Cuisine";
    }
    <div style="margin-top:40px;margin-bottom:20px; border-radius: 10px;border-style:solid; border-color:brown;color:black; background-color:white; border-radius:10px; padding:10px;" class="container">
    <div class="col-md-8">
        <p style="font-family:'Comic Sans MS', 'serif'; font-size: x-large; color:black;">

           Check out our <a style="color:orange;" asp-area="" asp-controller="Home" asp-action="LaunchMenu">Catering</a> Menu
        </p>
    </div>
    <div class="col-md-4">
        <img class="img-responsive" src="/images/wrap.jpg"/>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>