
@{
    ViewData["Title"] = "Arachosia - Afghan Cuisine";
}
<div style="margin-top:80px; margin-bottom: 20px; border-radius: 10px;border-style:solid; border-color:white;color:white;  border-radius:10px;" class="container">
    <div class="row">
        <div style="background-color:whitesmoke; border-radius:10px; color: black; font-size: 40px; font-family: 'serif';" align="center">
            <img width="100%" height="200px;" src="../Images/arachosia.jpg" />
        </div>

    </div>
    <div align="center" style="color:white; font-family: serif; font-size: x-large; padding:20px;background-image: url('../Images/background.png')" class="row">
         <h1 style="font-family: serif; color:orange;"> visit us at:</h1>
    <hr />
    <address>
        77 New Road, Parsippany 07054
    </address>
    <br />
    <div id="map" style="height: 400px; width: 100%; border-radius:10px; border-color: orange; border-style: groove; border-width: medium;"></div>

    <h2 style="border-radius:10px; color:orange;">Phone:</h2>
    <hr />
    If you liked our food and would like to support us, please follow us and leave us a review on Facebook, Google Yelp and Instagram.
    <p style="font-family: serif; padding: 20px;"><a href="facebook/site"> <span class="fa fa-facebook" aria-hidden="true"></span> </a>  <a href="facebook/site"> <span class="fa fa-twitter" aria-hidden="true"></span> </a> <a href="facebook/site"> <span class="fa fa-yelp" aria-hidden="true"></span> </a></p>

    <b>Hours:</b>
    Monday – Thursday   11:00 – 10:00 PM<br />
    Friday – Saturday   11:00 – 11:00 PM<br />
    Sunday              12:00 – 9:00 PM<br />
    <hr />
    Please leave us your comments, suggestions or complaints at <a style="color:orange;" href="mailto:arachosiagrill@gmail.com">arachosiagrill@gmail.com</a>

    <h2 style="border-radius:10px; color:orange;">Catering page:</h2>
    <hr />
    Please call or email us for our special catering <a style="color:orange;" asp-area="" asp-controller="Home" asp-action="LaunchMenu">Menu</a>
    <br />
    Call us at:
    <br />
    Email us at: arachosiagrill@gmail.com
    <br />
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

