
<div style="font-family:'Comic Sans MS', 'serif';margin-top:20px; margin-bottom: 20px; border-style:solid; border-color:brown;color:black;  background-color:white; border-radius:10px;" class="container">


  <div align="center" style="font-size:x-large; margin-top:20px; margin-bottom: 20px; border-radius: 10px;border-style:solid; border-color:white;color:black;  background-color:white; border-radius:10px;"class="col-md-12 row">


        <h1 style="color:brown;">Address:</h1>
       
        <p>
                         77 New Road, Parsippany NJ 07054 <br /><br />
                         <h1 style="color:brown;">Hours:</h1><br />
                         <span>Monday - Thursday 11:00 - 10:00 PM</span><br />
                         <span>Friday - Saturday 11:00 - 11:00 PM</span><br />
                         <span>Sunday 12:00 - 9:00 PM</span><br /><br />
                         <span>202-232-2222</span> 
                    <br/>
                    <span>arachosiagrill@gmail.com</span><br/>

               <br/>
        </p>
        <div id="map" style="height: 400px; width: 100%; border-radius:10px; border-color: orange; border-style: groove; border-width: medium;"></div>

</div>
    </div>