@{
    ViewData["Title"] = "About us";
}
<div style="border-style:solid; border-color:white;color:white; margin: 60px; background-color:azure; border-radius:10px;">

    <div style="height:160px;">
         <img src="../Images/kabob.jpg" class="img-responsive">
    </div>
          <h1 style="padding:40px; font-family: serif; font-size: x-large; color:black;">
              Appetizers
    </h1>
</div>
