@{
    ViewData["Title"] = "Arachosia - Afghan Cuisine";
}
<div style="font-family:'Comic Sans MS', 'serif'; padding:20px; margin-bottom: 30px; margin-top:40px;border-radius: 10px;border-style:solid; border-color:brown;color:white;  border-radius:10px; background-color:white;" class="container">
    <div class="row">
        <div style="background-color:whitesmoke; border-radius:10px; color: black; font-size: 40px;" align="center">
            <h1>Menu</h1>
        </div>
        <div style="color: brown;">
            <h2 style="color:black;">APPETIZERS</h2>
            Add rice, salad and tandoori bread by upgrading any appetizer to entree meal for only $4.00 more
            <h3>AUSHAK .......... $5.49</h3>
            <span>Afghan ravioli filled with scallions spices &Aacute; herbs, Topped with homemade yogurt and optional ground beef.</span>
            <h3>BOLANI .......... $5.49</h3>
            <span>Lightly pan fried flat egg roll, stuffed with seasoned potatoes and scallions. Served with homemade garlic mint yogurt.</span>
            <h3>EGGPLANT .......... $4.99</h3>
            <span>Seasoned eggplans are lightly pan fried then baked with fresh tomatoes. Topped with homemade garlic mint yogurt.</span>
            <h3>PUMPKIN .......... $4.99</h3>
            <span>Sauteed baby pumpkin topped with homemade yougurt and optional ground beef.</span>
            <h3>CHICKPEA CURRY .......... $4.99</h3>
            <span></span>
            <h3>GREENPEA AND POTATO CURRY .......... $4.99</h3>
            <span></span>
            <h3>SAMOSA POTATO .......... $4.99</h3>
            <span>Fried pastry filled with potatoes, green peas and spices.</span>
            <h3>SAMOSA BEEF .......... $4.99</h3>
            <span>Fried pastry filled with ground beef and spices.</span>
            <h3>BABA GHANOUSH .......... $4.99</h3>
            <span>Mashed cooked eggplant mixed with garlice, lemon, olive oil and various seasonings.</span>
            <h3>HUMMUS .......... $4.99</h3>
            <span>Fresh homemade chickpea dip blended with garlic, lemon and olive oil.</span>
            <h3>YOGURT CUCUMBER MIX .......... $4.99</h3>
            <span>Homemade yogurt mixed with chopped cucumbers and mint.</span>
            <h3>CHICKEN NUGGETS .......... $4.99</h3>
            <span>Served with fries.</span>
            <h3>CHICKEN TENDERS .......... $4.99</h3>
            <span>Served with fries.</span>
            <hr />
            <h2 style="color:black;">SALADS</h2>
            <h3>FALAFED SALAD .......... $8.99</h3>
            <span></span>
            <h3>CHICKEN KABOB SALAD .......... $9.99</h3>
            <span>Boneless chunks of chicken breast served on our house salad and dressing.</span>
            <h3>GRILLED SALMON SALAD .......... $10.99</h3>
            <span>Seasoned Salmon with authentic house blended spices served on our house salad.</span>
            <h3>AFGHAN SALAD .......... $3.99</h3>
            <span>Chopped red and green onions, cucumbers, tomatoes, Coriander mixed with fresh lemon and mint.</span>
            <hr />
            <h2 style="color: black;">ENTREES</h2>
            <span>All entrees are served with side of rice, salad and tandoori bread.</span>
            <h3>CHICKEN CURRY .......... $9.99</h3>
            <span>Chicken pieces cooked in traditional, house mixed curry spices.</span>
            <h3>LAMB CURRY .......... $9.99</h3>
            <span>Lamb cooked in traditional, house mixed curry spices and herbs.</span>
            <h3>MIX VEGETARIAN CURRY PLATTER .......... $10.49</h3>
            <span>Eggplant, pumpikin, chickpea and green pea curry.</span>
            <h3>FALAFEL PLATTER WITH HUMMUS .......... $9.99</h3>
            <span>Served with Hummus.</span>
            <h3>CHICKEN KABOB .......... $10.99</h3>
            <span>Boneless chunks of chicken breast marinated with rich ingredients for a juicy and tender taste.</span>
            <h3>CHICKEN SEEKH KABOB .......... $10.99</h3>
            <span>Skewers of ground chicken season with house blended-Afghan herbs, Fresh vegetables and cheese.</span>
            <h3>CHICKEN TANDOORI KABOB .......... $10.99</h3>
            <span>Dark meat on the bone, marinated in orignal fresh tanoori spices.</span>
            <h3>KOFTA KABOB .......... $11.49</h3>
            <span>Skewers of ground beef, season with authentic house blended-Afghan herbs and spices.</span>
            <h3>CHAPLI KABOB .......... $11.49</h3>
            <span>Grilled patties of seasoned ground beef, finished with natural herbs.</span>
            <h3>BEEF KABOB .......... $11.49</h3>
            <span>Beef chunks lightly marinted and seasoned for perfect juicy taste.</span>
            <h3>LAMB KABOB .......... $12.99</h3>
            <span>Lamb chunks marinated with authentic house blended-Afghan spices.</span>
            <h3>LAMB CHOPS .......... $15.99</h3>
            <span>Juicy, lightly marinated lamb chops seasoned for perfect taste.</span>
            <h3>CHICKEN GYRO .......... $9.99</h3>
            <span></span>
            <h3>GYRO .......... $9.99</h3>
            <span></span>
            <h3>MIX GYRO PLATTER .......... $10.99</h3>
            <span></span>
            <h3>GRILLED SALMON FILET .......... $15.99</h3>
            <span>Seasoned with authentic house blended spices</span>
        </div>
    </div>

    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
