<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Arachosia Grill</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body style="margin-bottom: 30px; background-image: url('/images/wrap.jpg')">
        <div class="col-lg-12 row">
            <div style="min-width:100px;">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img style="width:90px; height:90px; position: fixed; top:0px;" src="/images/arachosialogo.png" alt="Logo" class="img-responsive" /></a>
            </div>

        </div>
        <div class="row col-sm-12">

                <nav style="padding:10px;  margin-left:23%; background-color:transparent; border-width:0px;" class="navbar navbar-inverse navbar-fixed-top">

                        <div class="navbar-header">

                            <button style="background-color:brown" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <div class="navbar-collapse collapse">
                            <ul style="margin-left:40%;background-color:brown; color:black;" class="nav navbar-nav">

                                <li style="font-size:x-large; font-family: serif;"><a href="#about">About</a></li>
                                <li style="font-size:x-large;font-family: serif;"><a href="#catering">Catering</a></li>
                                <li style="font-size:x-large;font-family: serif;"><a href="#menu">Menu</a></li>
                                <li style="font-size: x-large; font-family: serif;"><a href="#location">Locations</a></li>

                            </ul>
                        </div>

                </nav>

        </div>
        <div align="center" style="margin-left:15%; margin-top:10px;" class="container body-content">
            @RenderBody()

            <footer style="width:100%; padding:20px;position: fixed;bottom: 0; left: 0;width: 100%;height: 60px;background: brown;color:white;font-size:24px; font-family: serif;" align="center">


                <p>&copy; 2018 - Arachosia  <a target="_blank" href="https://www.facebook.com/ArachosiaGrill/"> <span class="fa fa-facebook" aria-hidden="true"></span> </a> <a targert="_blank" href="http://www.twitter.com/Arachsoaigrill "> <span class="fa fa-twitter" aria-hidden="true"></span> </a></p>

            </footer>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)

       
        <script>
// Initialize and add the map
            function initMap() {

  // The location of Arachosia
  var uluru = {lat: 40.8557485, lng: -74.3486487};
  var address = "77 New Road, Parsippany 07054";
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 18, center: uluru,scrollwheel: false, title: address, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map, title: address});

             var infowindow = new google.maps.InfoWindow(
                { content: '<b>'+address+'</b>',
                  size: new google.maps.Size(150,50)
                });

            infowindow.open(map,marker);
                       marker.addListener('click', function() {
                        window.location.href = "https://wego.here.com/directions/mix//Arachosia-Grill,-77-New-RD,-07054-Parsippany:e-eyJuYW1lIjoiQXJhY2hvc2lhIEdyaWxsIiwiYWRkcmVzcyI6Ijc3IE5ldyBSRCwgUGFyc2lwcGFueSwgTmV3IEplcnNleSAwNzA1NCIsImxhdGl0dWRlIjo0MC44NTcwMSwibG9uZ2l0dWRlIjotNzQuMzQ4NDYsInByb3ZpZGVyTmFtZSI6ImZhY2Vib29rIiwicHJvdmlkZXJJZCI6MzU2MjgyMDk1MTQ4MzgyfQ==?map=40.85701,-74.34846,15,normal&fb_locale=en_US";

        });
            }


        </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1slowjVinffaG9HIQOPGRbDBeTe5aZvI&callback=initMap">
    </script>
    </body>
</html>
